@font-face {
  font-family: 'zalopay';
  src:  url('fonts/zalopay.eot?55qosw');
  src:  url('fonts/zalopay.eot?55qosw#iefix') format('embedded-opentype'),
    url('fonts/zalopay.ttf?55qosw') format('truetype'),
    url('fonts/zalopay.woff?55qosw') format('woff'),
    url('fonts/zalopay.svg?55qosw#zalopay') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zalopay' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-ico_shadow:before {
  content: "\e91c";
}
.ico-ico_vitricuatoi12 .path1:before {
  content: "\e91d";
  color: rgb(51, 51, 51);
}
.ico-ico_vitricuatoi12 .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(153, 153, 153);
}
.ico-ico_vitricuatoi12 .path3:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(232, 45, 45);
}
.ico-ico_vitricuatoi12 .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-ico_refresh:before {
  content: "\e919";
}
.ico-ico_quannhau .path1:before {
  content: "\e91a";
  color: rgb(0, 204, 0);
}
.ico-ico_quannhau .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-ico_cake .path1:before {
  content: "\e907";
  color: rgb(6, 190, 4);
}
.ico-ico_cake .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-ico_coffee .path1:before {
  content: "\e909";
  color: rgb(6, 190, 4);
}
.ico-ico_coffee .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-ico_nhahang .path1:before {
  content: "\e90b";
  color: rgb(6, 190, 4);
}
.ico-ico_nhahang .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-ico_quanan .path1:before {
  content: "\e90d";
  color: rgb(6, 190, 4);
}
.ico-ico_quanan .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-ico_vitricuatoi .path1:before {
  content: "\e90f";
  color: rgb(247, 84, 76);
}
.ico-ico_vitricuatoi .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(92, 20, 16);
}
.ico-ico_showshow:before {
  content: "\e911";
}
.ico-ico_arrowdown:before {
  content: "\e912";
}
.ico-ico_search:before {
  content: "\e913";
}
.ico-ico_vitricuatoi1:before {
  content: "\e914";
}
.ico-ico_diachi:before {
  content: "\e915";
}
.ico-ico_type:before {
  content: "\e916";
}
.ico-ico_vnd:before {
  content: "\e917";
}
.ico-ico_chiduong:before {
  content: "\e918";
}
.ico-ico_arrownext:before {
  content: "\e900";
}
.ico-ico_arrowpre:before {
  content: "\e901";
}
.ico-ico_back:before {
  content: "\e902";
}
.ico-ico_check:before {
  content: "\e903";
}
.ico-ico_del:before {
  content: "\e904";
}
.ico-ico_fail:before {
  content: "\e905";
}
.ico-ico_question:before {
  content: "\e906";
}

